body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/../img/space-gc93caa350_1920.jpg');
    background-position: center;
background-size: auto;
background-repeat: no-repeat;
}

.ieee{
    margin: 1rem 1.5rem ;
}
.nitp{
    float: right;
margin: 1rem 1.5rem ;
} 
h2{background-color:rgba(146, 101, 16,.6);
   border-radius: 15px 15px 0 0;
    text-align: center;
    margin: auto;
    background-size: 25px 75px;
    color: rgb(103, 219, 235);
   width: 600px;
   margin-top: 60px;
   font-weight: 500;
}
.form{background-color:rgba(146, 101, 16,.4);
    width: 600px;
    text-align: center;
    margin-top: 0px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 40px;
color: rgb(103, 219, 235);

}
.name{
    padding-bottom: 10px;
}
.user{
    margin-left: 7px;
}
.pass{
    margin-left: 7px;
}
.login{background-color:rgba(146, 101, 16,.4);
    width: 600px;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    border-radius: 0 0 5px 5px;
}
.footer{
    color: aliceblue;
    opacity: .7;
    float: right;
    margin-top: 10rem;
    margin-right: 1rem;
    font-size: 14px;
}
